@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Embed code', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
.Nearbyzag {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.descrip1 {
    color: rgb(255, 255, 255);
}
body {
   background: #001722;
}
.nashsoc {
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: small;
     width: 1400px;
    margin: 0 auto;
}
.Nearbysver {
    color: rgb(255, 255, 255);
}
h2 {
    color: rgb(255, 255, 255);
}
h1 {
    color: rgb(255, 255, 255);
}
.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
    size: 150px;
}
a {  width: 1400px;
    margin: 0 auto;
}
li {
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: x-large;
     width: 1400px;
    margin: 0 auto;
}
header nav {
    float: right;
    width: 50%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
span {
    color: rgb(255, 255, 255);
    size: 100px;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color: #001722
}

header nav ul li.btn a {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
}
.hero--info {
    width: 530px;
    padding-top:10px;
}
.hero--info h2 {
    color: cornflowerblue;
    font-size: 80px;
}
.hero--info h1 {
    color: white;
    font-size: 40px;
}
.hero--info .btn {
    background: cornflowerblue;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    padding-top: 20;
    border: 0;
    transition: all 500ms ease;
    font-size: 20px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.hero {
    position: relative;
}
/*тарифы йоу*/
.tarifs {
    padding-top: 50px;
}
.tarifs h3 {
    font-weight: 600;
    font-size: 25px;
    color: white;
    padding: 12px 23px;
    float: left;
    display: block;
}

.buy {
    border: none;
    width: 255px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    border-radius: 13px;
     transition: all 500ms ease;
}
.info h3 {
    color: white;
}
.price {
    font-weight: 700;
    font-size: 18px;
}
